.cards-container {
  padding: 10px;
  max-width: 100%;
  margin: auto;
}

.days-forecast h2 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 1.5rem;
}

.card {
  background-color: #6C757D;
  color: white;
  padding: 10px;
  border-radius: 12px;
  height: 270px;
  width: 230px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

ul.weather-cards {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
